<header>
     <!-- start first section in header -->
    <div class="logooes" id="page-head">
        <div class="container d-flex justify-content-between">
            <div class="log">
             <img class="img-fluid" src="../../../../assets/logo.png"/>
            </div>

            <div class="flag">
                <img class="img-fluid" src="../../../../assets/flag.jfif"/>
            </div>
        </div>
    </div>

    <!-- End first section in header -->
    
    <!-- start navbar -->
    <nav id="nav" class="navbar navbar-expand-lg bg-header   ">
        <div class="container">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">   
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/requests">My Requests</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
</header>
