<footer class="footer-bgcolor">
    <div class="container">
      <div class="w-75 m-auto">
        <h3 class="footer-headColor my-3 text-center">Subscribe To our Newsletters</h3>
        <div class="SubScriptionFeild d-flex justify-content-between w-75 m-auto my-3">
            <input class="form-control w-75" type="email"  placeholder="Enter Your Email"/>
            <button class="btn btn-light text-warning "  type="submit">Subscribe</button>
        </div>
        <div class="related-Links row m-5 ">
           <div class="col-md-4 col-sm-12 guid">
               <ul type="none" class="w-75 m-auto">
                   
                   <li><a routerLink="profile">Guides</a></li>
                   <li><a routerLink="profile">Privacy policy</a></li>
                   <li><a routerLink="profile">Communication Channel</a></li>
               </ul>
 
           </div>
           <div class=" col-md-4 col-sm-12 locationMap d-flex justify-content-between">
               <div class="line"></div>
               <p class="w-75 m-auto text-center"><a routerLink="profile">Location Map</a></p>
               <div class="line"></div>
           </div>
           <div class=" col-md-4 col-sm-12 contact">
             <ul type="none" class="w-75 m-auto">
                   
                 <li><a routerLink="profile"><i class="fa-solid fa-phone"></i>010-7685-9889</a></li>
                 <li><a routerLink="profile"><i class="fa-solid fa-envelope"></i>Example@mail.com</a></li>
                 <li><a routerLink="profile"><i class="fa-solid fa-location-dot"></i>location</a></li>
             </ul>
           </div>
 
        </div>
        <div class="social-Media-Contact row justify-content-center">
         <div class="icons  ">
             <span>Follow Us</span>
             <img src="../../../../assets/facebook.png"/>
             <img src="../../../../assets/twiiter.jfif"/>
             <img src="../../../../assets/insta.jfif"/>  
         </div>
         <div class="term-color text-center my-2"> Terms & Condition</div>
        </div>
      </div>
    </div>
    <div class="copyR copyR-bgColor text-center py-2">
          <span class=" text-white ">&copy;All Copy Right Reserved,AsmaaHassan</span>
    </div>
</footer>
